.principal{
	margin-top:50px;
	font-family: 'Roboto';
}

/*tarjeta 2*/
.card-header-second{
	box-shadow:1px 7px 15px #a2a2a2;
    margin:-25px -25px 0px -25px;
    height: 120px;
	background: linear-gradient(-90deg, #8E2DE2, #4A00E0); 
}

/*tarjeta 3*/
.card-header-third{
    margin-top:-25px;
    height: 120px;
	box-shadow:1px 5px 15px #a2a2a2;
    background: linear-gradient(-90deg, #62e72d, #38ef7d); 
}

.card-header-third span i:hover,.card-section-third span i:hover{
	box-shadow:1px 1px 15px #000;
}

/*efecto shadows para todas las tarjetas*/
.card-section{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover{
	box-shadow:1px 1px 20px #d2d2d2;
}