html {
    min-height: 100%;
    position: relative;
  }


.logo{
width: 70%;
}

.iconos-redes-sociales{
width: 20px;
margin: 10px 5px;
}

.titulos{
    margin-top: 40px;
    text-align: center;
}

footer{
background-color: black;
}

#main{
margin-top: 60px;
margin-bottom: 50px;
}

